body,
html {
  font-family: 'Quicksand', cursive;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
}

.btn {
  border: 0;
  padding: 24px;
  background-color: #0e0b16;
  color: aliceblue;
}

@media (max-width: 991px)
{.btn {
    line-height: 38px;
    padding: 0 12px;
    font-size: 14px;
}}

.btn:hover{
  color: aliceblue;
}
